* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

h1 {
  color: white;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-family: fantasy;
  margin: 30px 0;
}

.btn{
  width: 200px;
  height: 40px;
  color: white;
  font-size: 20px;
  background-color: #4985FF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover{
  transition: 0.5s;
  transform: scale(1.2);
  background-color: aqua;
  font-size: 25px;
}
